@include font-face(Montserrat, Montserrat-Regular, 400, normal);
@include font-face(Montserrat, Montserrat-Bold, 700, normal);
@include font-face(Montserrat, Montserrat-SemiBold, 600, normal);
@include font-face(Montserrat, Montserrat-Thin, 100, normal);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: var(--font-size-main);
  font-weight: var(--font-weight-regular);
  scroll-behavior: smooth;
  // scroll-margin-top: 68px;
}

.flex {
  @include flex(column, nowrap, center, center);
}
